<a href="https://colab.research.google.com/github/KDcodePy/Invert_binary_tree/blob/main/Sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Prediction

Kim Hazed Delfino

## Loading Data 
- Use Pandas to read the sales prediction data set into Google Colab
- Use df.info() and df.head() methods to preview the first rows of your data and a summary of your DataFrame's columns.

##Data Cleaning
- Explore the data - what do you need to do to clean this data? Clean it!
- Be sure to address each of the following tasks:

## Exploratory Visuals

## Explanatory Visuals

In [470]:
import pandas as pd

In [471]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [472]:
filename = "/content/drive/MyDrive/sales_predictions.csv"

In [473]:
df = pd.read_csv(filename)

In [474]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [475]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [476]:
counts_row=len(df)

In [477]:
counts_columns=len(df.columns)

In [478]:
print(f"There are {counts_row} rows and {counts_columns} columns in this data set")

There are 8523 rows and 12 columns in this data set

In [479]:
for col in df.columns:
  print(f"column {col} is a {df[col].dtypes} type")

column Item_Identifier is a object type
column Item_Weight is a float64 type
column Item_Fat_Content is a object type
column Item_Visibility is a float64 type
column Item_Type is a object type
column Item_MRP is a float64 type
column Outlet_Identifier is a object type
column Outlet_Establishment_Year is a int64 type
column Outlet_Size is a object type
column Outlet_Location_Type is a object type
column Outlet_Type is a object type
column Item_Outlet_Sales is a float64 type

In [480]:
print(f"There are {df.duplicated().sum()} duplicates")

There are 0 duplicates

In [481]:
nan_item_weight_filter = df["Item_Weight"].isna()

In [482]:
nan_iw_df = df[nan_item_weight_filter]

In [483]:
nan_iw_df # dataframe for all missing values for Item_Weight
nan_iw_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [484]:
df.groupby(by="Item_Identifier")["Item_Weight"].value_counts()
# it looks like we have almost the same amount of unique item ID with nan_iw_df and the raw df 
# chances are we have the same item_ID that has Item_Weight value on different index of the df
# if item_ID registered multiple times we can get the mean value to fill the missing value on some Item_Weight of the same Item_ID

Item_Identifier  Item_Weight
DRA12            11.600         6
DRA24            19.350         5
DRA59            8.270          6
DRB01            7.390          2
DRB13            6.115          5
                               ..
NCZ30            6.590          6
NCZ41            19.850         5
NCZ42            10.500         5
NCZ53            9.600          4
NCZ54            14.650         5
Name: Item_Weight, Length: 1555, dtype: int64

In [485]:
# filling NaN value on Item_Weight column with "0" value instead so i can reference it
df["Item_Weight"].fillna(0,inplace=True)

In [486]:
df[df["Item_Weight"] == 0].value_counts().sum()

1463

In [487]:
counter = 0
print("Working on my magic", end='')
for item in df['Item_Identifier']:
  if  df.iloc[counter,1] == 0:
    df.iat[counter,1]=df[df["Item_Identifier"] == item]["Item_Weight"].mean()

  if counter % 100 == 0:
    print(".",end='')
  counter += 1
print("Done!")

Working on my magic......................................................................................Done!

In [488]:
df[df["Item_Weight"] == 0]
# Oh ow! looks like we have 4 unique items that is missing item_weight and no mean value since its the only occurence.
# i will leave those 4 as zero value for now

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,0.0,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,0.0,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,0.0,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,0.0,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [489]:
df.isna().sum()
#check if we fixed the NaN values for Item_Weight

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [490]:
# Item_Weight done!, now on to Outlet_Size missing values

In [491]:
df["Outlet_Size"].fillna("None", inplace=True) 
# Changed the NaN to String value called "None" so can iterate through them on column "Outlet_size"

In [492]:
df.groupby(by="Outlet_Identifier")["Outlet_Size"].value_counts() # Checking if outlet_Identifier has other value than "None"
# looks like OUT010, OUT017 , OUT045 are the culprits

Outlet_Identifier  Outlet_Size
OUT010             None           555
OUT013             High           932
OUT017             None           926
OUT018             Medium         928
OUT019             Small          528
OUT027             Medium         935
OUT035             Small          930
OUT045             None           929
OUT046             Small          930
OUT049             Medium         930
Name: Outlet_Size, dtype: int64

In [493]:
df.groupby("Outlet_Type")["Outlet_Size"].value_counts() 
# Based on Grocery Store's given size which is "Small" I can confidently say that the other "None" values are also Small
# Supermarket Type1 however has multiple size variation so we need to dig deeper

Outlet_Type        Outlet_Size
Grocery Store      None            555
                   Small           528
Supermarket Type1  Small          1860
                   None           1855
                   High            932
                   Medium          930
Supermarket Type2  Medium          928
Supermarket Type3  Medium          935
Name: Outlet_Size, dtype: int64

In [494]:
type_filter = df["Outlet_Type"] == "Supermarket Type1"
type_df = df[type_filter]
type_df.groupby(by="Outlet_Location_Type")["Outlet_Size"].value_counts()
#looks like all the "None" values falls into "Tier 2" Location type but the value count seems too big for compared to other tier
#Let's dig deeper!

Outlet_Location_Type  Outlet_Size
Tier 1                Medium          930
                      Small           930
Tier 2                None           1855
                      Small           930
Tier 3                High            932
Name: Outlet_Size, dtype: int64

In [495]:
filter1 =type_df["Outlet_Location_Type"] == "Tier 2"
filter2 =type_df["Outlet_Size"] == "None"

In [496]:
test_df =type_df[filter2 & filter1]
test_df.nunique()
#Looks like there's 2 outlet ID that we can check out
#Let's dig deeper!

Item_Identifier              1305
Item_Weight                   379
Item_Fat_Content                5
Item_Visibility              1720
Item_Type                      16
Item_MRP                     1721
Outlet_Identifier               2
Outlet_Establishment_Year       2
Outlet_Size                     1
Outlet_Location_Type            1
Outlet_Type                     1
Item_Outlet_Sales            1322
dtype: int64

In [497]:
test_df["Outlet_Identifier"].value_counts()
# aha! OUT045 and OUT17 let's find out what commonality/difference they have that will help us ditermine the missing value
# Let's dig deeper!

OUT045    929
OUT017    926
Name: Outlet_Identifier, dtype: int64

In [498]:
# the data i'm looking keeping an eye out for are outlet-type, outlet-location-type and their top3 invetory items
id_045_filter = df["Outlet_Identifier"] == "OUT045"
id_045_df = df[id_045_filter]
print(id_045_df["Item_Type"].value_counts())
id_045_df.loc[:,["Outlet_Size","Outlet_Type","Outlet_Location_Type"]].head(1)

Fruits and Vegetables    143
Snack Foods              133
Household                 99
Frozen Foods              81
Canned                    74
Baking Goods              70
Dairy                     69
Health and Hygiene        55
Soft Drinks               51
Meat                      38
Breads                    33
Hard Drinks               28
Others                    20
Starchy Foods             16
Breakfast                 10
Seafood                    9
Name: Item_Type, dtype: int64

  Outlet_Size        Outlet_Type Outlet_Location_Type
8        None  Supermarket Type1               Tier 2

In [499]:
id_017_filter = df["Outlet_Identifier"] == "OUT017"
id_017_df = df[id_017_filter]
print(id_017_df["Item_Type"].value_counts())
id_017_df.loc[:,["Outlet_Size","Outlet_Type","Outlet_Location_Type"]].head(1)
# this dataset looks like outlet ID "OUT045" stores more Fruits and vegs 
# while "OUT017" majority of its inventory are snack foods
# Fruits and vegs requires bigger ground area to store so it looks like OUT045 is a bigger outlet than OUT017
# let's use other outlet's dataset as weights and compare these datasets
# Let's dig deeper!

Snack Foods              128
Fruits and Vegetables    127
Frozen Foods             106
Household                 95
Dairy                     74
Baking Goods              73
Canned                    69
Health and Hygiene        61
Soft Drinks               54
Meat                      44
Breads                    22
Hard Drinks               22
Starchy Foods             18
Others                    16
Breakfast                 12
Seafood                    5
Name: Item_Type, dtype: int64

  Outlet_Size        Outlet_Type Outlet_Location_Type
9        None  Supermarket Type1               Tier 2

In [500]:
# I created this code block to loop though each unique outlet ID and print the same dataset above
for i in set(df["Outlet_Identifier"]):
  id_filter = df["Outlet_Identifier"] == i
  id_df = df[id_filter]
  print(id_df["Item_Type"].value_counts(),i)
  print(df[df["Outlet_Identifier"] == i].loc[:,["Outlet_Size","Outlet_Type","Outlet_Location_Type"]].head(1))
  print("Press ENTER for next", "This is a new line", "~"*100)
  input()

Snack Foods              140
Fruits and Vegetables    129
Household                102
Frozen Foods              92
Canned                    79
Dairy                     71
Baking Goods              68
Soft Drinks               52
Health and Hygiene        50
Meat                      43
Breads                    29
Hard Drinks               22
Starchy Foods             19
Others                    16
Breakfast                 10
Seafood                    8
Name: Item_Type, dtype: int64 OUT035
   Outlet_Size        Outlet_Type Outlet_Location_Type
19       Small  Supermarket Type1               Tier 2
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Snack Foods              128
Fruits and Vegetables    127
Frozen Foods             106
Household                 95
Dairy                     74
Baking Goods              73
Canned                    69
Health and Hygiene        61
Soft Drinks               54
Meat                      44
Breads                    22
Hard Drinks               22
Starchy Foods             18
Others                    16
Breakfast                 12
Seafood                    5
Name: Item_Type, dtype: int64 OUT017
  Outlet_Size        Outlet_Type Outlet_Location_Type
9        None  Supermarket Type1               Tier 2
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Fruits and Vegetables    135
Snack Foods              132
Household                 95
Frozen Foods              92
Canned                    78
Dairy                     73
Baking Goods              68
Health and Hygiene        58
Soft Drinks               46
Meat                      46
Breads                    27
Hard Drinks               22
Others                    20
Starchy Foods             17
Breakfast                 12
Seafood                    7
Name: Item_Type, dtype: int64 OUT018
  Outlet_Size        Outlet_Type Outlet_Location_Type
1      Medium  Supermarket Type2               Tier 3
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Fruits and Vegetables    126
Snack Foods              120
Frozen Foods             108
Household                103
Dairy                     78
Baking Goods              76
Canned                    72
Health and Hygiene        56
Soft Drinks               48
Meat                      44
Breads                    26
Others                    22
Hard Drinks               20
Starchy Foods             15
Breakfast                 10
Seafood                    6
Name: Item_Type, dtype: int64 OUT046
   Outlet_Size        Outlet_Type Outlet_Location_Type
11       Small  Supermarket Type1               Tier 1
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Fruits and Vegetables    143
Snack Foods              133
Household                 99
Frozen Foods              81
Canned                    74
Baking Goods              70
Dairy                     69
Health and Hygiene        55
Soft Drinks               51
Meat                      38
Breads                    33
Hard Drinks               28
Others                    20
Starchy Foods             16
Breakfast                 10
Seafood                    9
Name: Item_Type, dtype: int64 OUT045
  Outlet_Size        Outlet_Type Outlet_Location_Type
8        None  Supermarket Type1               Tier 2
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Snack Foods              75
Fruits and Vegetables    73
Household                52
Dairy                    49
Frozen Foods             49
Baking Goods             43
Canned                   38
Meat                     32
Health and Hygiene       30
Soft Drinks              26
Others                   17
Breads                   16
Breakfast                10
Hard Drinks               8
Seafood                   6
Starchy Foods             4
Name: Item_Type, dtype: int64 OUT019
   Outlet_Size    Outlet_Type Outlet_Location_Type
23       Small  Grocery Store               Tier 1
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Fruits and Vegetables    140
Snack Foods              137
Household                 99
Frozen Foods              89
Canned                    72
Baking Goods              69
Dairy                     67
Health and Hygiene        60
Meat                      56
Soft Drinks               45
Breads                    31
Hard Drinks               23
Others                    15
Starchy Foods             14
Breakfast                 11
Seafood                    7
Name: Item_Type, dtype: int64 OUT027
  Outlet_Size        Outlet_Type Outlet_Location_Type
7      Medium  Supermarket Type3               Tier 3
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Fruits and Vegetables    79
Snack Foods              71
Household                67
Frozen Foods             54
Dairy                    43
Baking Goods             42
Health and Hygiene       37
Canned                   35
Meat                     34
Soft Drinks              28
Breads                   17
Hard Drinks              16
Others                   10
Breakfast                 9
Starchy Foods             9
Seafood                   4
Name: Item_Type, dtype: int64 OUT010
  Outlet_Size    Outlet_Type Outlet_Location_Type
3        None  Grocery Store               Tier 3
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Snack Foods              139
Fruits and Vegetables    138
Household                 95
Frozen Foods              93
Dairy                     78
Canned                    67
Baking Goods              66
Health and Hygiene        52
Meat                      47
Soft Drinks               46
Hard Drinks               30
Breads                    25
Others                    17
Starchy Foods             17
Breakfast                 13
Seafood                    7
Name: Item_Type, dtype: int64 OUT049
  Outlet_Size        Outlet_Type Outlet_Location_Type
0      Medium  Supermarket Type1               Tier 1
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Fruits and Vegetables    142
Snack Foods              125
Household                103
Frozen Foods              92
Dairy                     80
Baking Goods              73
Canned                    65
Health and Hygiene        61
Soft Drinks               49
Meat                      41
Breads                    25
Hard Drinks               23
Starchy Foods             19
Others                    16
Breakfast                 13
Seafood                    5
Name: Item_Type, dtype: int64 OUT013
  Outlet_Size        Outlet_Type Outlet_Location_Type
4        High  Supermarket Type1               Tier 3
Press ENTER for next This is a new line ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [501]:
# Notice that OUT017 (top3 invetory,outlet_type,location_type) are similar to OUT035
# while OUT045's dataset is almost similar to OUT013 
# with these information i can confidently change OUT017's Outlet_Size missing value as "Small"
# and OUT045's missing Outlet_Size value as "High"

In [502]:
counter = 0 # initialize counter to keep track of the current index number 
print("let me do my magic",end='')
for outlet in df["Outlet_Size"]:
  
  
  if outlet == "None":
    
    if df.iloc[counter,10] == "Grocery Store":
      df.iloc[counter,8]= df.iloc[counter,8].replace("None","Small")
    elif df.iloc[counter,10] == "Supermarket Type1" and df.iloc[counter,6]== "OUT045":
      df.iloc[counter,8]= df.iloc[counter,8].replace("None","High")
    elif df.iloc[counter,10] == "Supermarket Type1" and df.iloc[counter,6]== "OUT017":
      df.iloc[counter,8]= df.iloc[counter,8].replace("None","Small")
  counter += 1
  if counter % 200 == 0:
    print(".",end='')
print("Done!")

let me do my magic..........................................Done!

In [503]:
# Now let's Check if we fixed the "None" values at Outlet_Size column.
df.groupby(by="Outlet_Identifier")["Outlet_Size"].value_counts()

Outlet_Identifier  Outlet_Size
OUT010             Small          555
OUT013             High           932
OUT017             Small          926
OUT018             Medium         928
OUT019             Small          528
OUT027             Medium         935
OUT035             Small          930
OUT045             High           929
OUT046             Small          930
OUT049             Medium         930
Name: Outlet_Size, dtype: int64

In [504]:
# Looks Good to me! 
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [505]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [506]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [507]:
df["Item_Fat_Content"].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [508]:
df.replace("LF","Low Fat", inplace=True)

In [509]:
df.replace("reg","Regular",inplace=True)

In [510]:
df.replace("low fat","Low Fat", inplace=True)

In [511]:
#fixed all inconsistency on "Item_Fat_Content" column

In [512]:
df["Item_Type"].value_counts() # Item_Type looks good !

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [513]:
df["Outlet_Type"].value_counts() # Outlet_Type column looks good!

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [514]:
df.head(1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138

In [515]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [516]:
# now let's check the numerical columns
df.iloc[:,[1,3,5,7,11]].describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.366770,0.066132,140.992782,1997.831867,2181.288914
std,4.641253,0.051598,62.275067,8.371760,1706.499616
min,0.000000,0.000000,31.290000,1985.000000,33.290000
25%,8.365000,0.026989,93.826500,1987.000000,834.247400
50%,12.150000,0.053931,143.012800,1999.000000,1794.331000
75%,16.200000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800